[Desktop Entry]
Encoding=UTF-8
Name=pinkstarcoin Wallet
Comment=pinkstarcoin wallet
Exec=pinkstarcoin %U
Terminal=false
Type=Application
Icon=pinkstarcoin
MimeType=x-scheme-handler/pinkstarcoin;
Categories=Office;Finance;
Name[it]=pinkstarcoinwallet.desktop
